<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name *" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Source *" %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>

  <%= f.fields_for :ingredients do |ingredient_fields| %>
    <div class="field">
      <%= ingredient_fields.label :amount %><br />
      <%= ingredient_fields.text_field :amount %>
      <%= ingredient_fields.label :name %><br />
      <%= ingredient_fields.text_field :name %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Instructions *" %><br />
    <%= f.text_area :instructions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
