<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name *" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Source *" %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div> 

    <%= f.label 'Ingredients:' %>
    <table>
      <tr>
        <td>Amount *</td>
        <td>Unit</td>
        <td>Name *</td>
        <td>Prep</td></tr>
      <tr>
      <%= f.fields_for :ingredients, :url => {:action => 'new'} do |ingredient_form| %>
       <tr>
         <%= render 'ingredients/experimental_form', :f => ingredient_form %>
       </tr>
      <% end %>

    </table>

  <div class="field">
    <%= f.label 'Instructions:' %>
    <%= f.fields_for :instructions, :url => {:action => 'new'} do |instruction_form| %>
      <br />
      <%= instruction_form.text_field :content %></td>
      <% instruction_form.hidden_field :order, {:value => 1} %>
    <% end %>
  </div>

    <% @tags.each do |tag| %>
        <div class="field">
          <%= check_box_tag "recipe[tag_ids][]", tag.id, @recipe.tags.include?(tag) %>
          <%= tag.value %>
        </div>
    <% end %>


    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
