<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Recipe</th>
    <th>Source</th>
    <th>Rating</th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe.name, recipe %></td>
    <td><%= recipe.url == '' ? recipe.source : link_to(recipe.source, recipe.url) %></td>
    <td><%= render 'show_rating', :rating => recipe.rating %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Delete', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path, :class => 'new_recipe round' %>
