<p id="notice"><%= notice %></p>

<p>
  <b>Recipe</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Source</b>
  <% unless @recipe.url.empty? %>
    <%= link_to @recipe.source, @recipe.url %>
  <% else %>
    <%= @recipe.source %>
  <% end %>
</p>

<p>
  <b>Ingredients:</b>
  <%= render 'ingredients/show_all', :ingredients => @ingredients %>
  <br />
  <%= link_to "[+]", new_ingredient_path(:recipe_id => @recipe.id) %>
</p>
<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>

<p>
  <b>Tags:</b>
  <%= @recipe.tags.each do |tag_id| %>
    <%= tag_id %>
  <% end %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
