<p id="notice"><%= notice %></p>

<p>
  <b>Recipe</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Source</b>
  <%= link_to @recipe.source, @recipe.url %>
</p>

<p>
  <b>Url:</b>
  <%= @recipe.url %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
