<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td>Quantity</td>
      <td>Ingredient *</td>
      <td>Preparation</td>
    </tr>
    <tr>
      <td class="field">
        <%= f.text_field :quantity %>
      </td>
      <td class="field">
        <%= f.text_field :name %>
      </td>
      <td class="field">
        <%= f.text_field :preparation %>
      </td>
    </tr></table>
    <%= f.text_field :recipe_id, :type => "hidden" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
