<p id="notice"><%= notice %></p>

<p>
  All <%= @tag.value %> recipes
</p>

<ul>
  <% @tag.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
